<div class="container">
  <div class="row justify-content-center">
    <section class="user-info col-md-3 d-flex">
      <%= image_tag current_user.photo.attached? ? current_user.photo : asset_path('question_mark.png'), class: "avatar" %>
      <h1>
        <%= @user.username %>
      </h1>
    </section>
    <div class="posts-container col-md-6">
      <%= render "posts/newpost" %>
      <%= render "posts/postlist" %>
      <%= will_paginate @posts %>
    </div>
  </div>
</div>
